
.logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px; /* Space between logos */

  background-color: #031B34;
}

/* Individual Logo Styles */
.logo {
  height: 24px;
  opacity: 0.7;
  margin: 32px 0; /* Top and bottom spacing */
  transition: opacity 0.3s ease;
  
}

/* Larger logo sizes for medium screens and above */
@media (min-width: 768px) {
  .logo {
    height: 32px;
  }
}

/* Hover effect to make logos more prominent */
.logo:hover {
  opacity: 1;
}
